@import 'tailwindcss';

:root {
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: #213547;
   background-color: #ffffff;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.h1 {
   font-size: 2.25rem;
   font-weight: 700;
}

.h2 {
   font-size: 1.5rem;
   font-weight: 600;
}

.header-pc {
   @apply sticky top-0 flex items-center justify-between bg-gray-200 p-3;
}

.nav-pc {
   @apply flex gap-2;
}

.navIcon {
   display: none;
}

.gradient-text {
   background: linear-gradient(
      90deg,
      #2563eb,
      /* blue-600 */ #7c3aed,
      /* violet-600 */ #db2777,
      /* pink-600 */ #2563eb
   );
   background-size: 300% 300%;
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;

   /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */

   animation: gradient-move 4s ease infinite;
}

@keyframes gradient-move {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

@media (max-width: 640px) {
   .navIcon {
      display: block;
      margin-left: auto;
      cursor: pointer;
      @apply rounded-md hover:bg-blue-300;
   }

   .nav-pc {
      position: absolute;
      top: 100%; /* justo debajo del header */
      left: 0;
      width: 100%;
      flex-direction: column;
      @apply bg-gray-200;
      overflow: hidden;
      text-align: center;

      /* animación */
      max-height: 0;
      opacity: 0;
      transition:
         max-height 0.5s ease,
         opacity 0.5s ease;
   }

   .nav-pc.showMenu {
      /* overflow-y: auto; */
      max-height: 100vh; /* suficiente para los links */
      opacity: 1;
   }
}
